/* @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-base: 217.5, 23.5%, 26.7%;
        --color-muted: 217.5, 23.5%, 3%;
        --color-primary: 258.8, 63.3%, 59.4%;
        --color-green: 155, 96.8%, 24.3%;
        --color-red: 3.9, 86%, 58%;
    }
}
